.navbar-container {
    width: 100%; 
    background: #4a65a3; 
    border-radius: 0 0 12px 12px;
    box-shadow: 0px 5px 6px lightgray;
}

.navbar-item {
    width: 6rem;
    text-align: center;
    font-size: larger;
}

.navbar-subitem {
    width: 5rem;
    text-align: center;
    font-weight: normal;
    font-size: small;
}

.navbar-display {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 4rem;
}